{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<script src="{% static 'assets/js/pages/file-upload.js' %}"></script>


<style>
  #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
  }

  #drop-area.highlight {
    border-color: purple;
  }

  .my-form {
    margin-bottom: 10px;
  }

  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
  }

  .button:hover {
    background: #ddd;
  }
</style>
<meta name="csrf-token" content="{{ csrf_token }}">
<div class="container">
  <div class="row justify-content-between align-items-center">
    <!-- Page Header on the left -->
    <div class="col-md">
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col">
              <div class="page-header-title">
                <h5 class="m-b-10">{{ segment }}</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard:index' %}"><i class="feather icon-home"></i></a>
                </li>
                <li class="breadcrumb-item">Telegram<a href="javascript:"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button on the right -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h5>Upload Data</h5>
      </div>
      <div class="card-block">
        <div class="upload-container">
          <div id="drop-area">
            <form class="my-form">
              <p>Upload an image by dragging & dropping or by selecting one</p>
              <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
              <label class="button" for="fileElem">Select some files</label>
              <div style="margin-top: 10px;">
                <button type="submit" class="btn btn-primary">Submit</button>

              </div>

            </form>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

{% endblock content %}