
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Upload Data</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Flight Name</th>
                        <th>FIN</th>
                        <th>Status</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Indigo</td>
                        <td>354</td>
                        <td>Checked</td>
                        <td><a href="#">View Report</a></td>
                    </tr>
                    <tr>
                        <td>Air Asia</td>
                        <td>897</td>
                        <td>Pending</td>
                        <td><a href="#">View Report</a></td>
                    </tr>
                    <tr>
                        <td>Spice Jet</td>
                        <td>456</td>
                        <td>Delayed</td>
                        <td><a href="#">View Report</a></td>
                    </tr>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}