{% load static customtags %}

<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="{% url 'dashboard:index' %}" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Air Inspect</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li class="nav-item {% if 'index' in segment %}active{% endif %}">
          <a href="{% url 'dashboard:index' %}" class="nav-link ">
            <span class="pcoded-micon">
              <i class="feather icon-home"></i>
            </span>
            <span class="pcoded-mtext">Dashboard</span>
          </a>
        </li>

        <li class="nav-item pcoded-hasmenu {% if 'surface_detection' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link ">
            <span class="pcoded-micon">
              <i class="feather icon-alert-triangle"></i>
            </span>
            <span class="pcoded-mtext">Surface Damage Detection</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="{% if 'surface_report' in segment %}active{% endif %}">
              <a href="{% url 'surface:damage_list' %}" class="">Surface Damage Detection Reports</a>
            </li>
          </ul>
        </li>
        <li class="nav-item pcoded-hasmenu {% if 'faulty_wire_detection' in parent %}active pcoded-trigger{% endif %}">
          <a href="javascript:" class="nav-link ">
            <span class="pcoded-micon">
              <i class="feather icon-activity"></i>
            </span>
            <span class="pcoded-mtext">Faulty Wire Detection</span>
          </a>
          <ul class="pcoded-submenu">
            <li class="{% if 'wire_input' in segment %}active{% endif %}">
              <a href="{% url 'wire:wire_create' %}" class="">Wire Input</a>
            </li>
            <li class="{% if 'faulty_wire_report' in segment %}active{% endif %}">
              <a href="{% url 'wire:wire_list' %}" class="">Faulty Wire Reports</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>