{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<style>
    .rep {
        color: black;
        font-size: bold;
    }

    .dets:hover {
        color: black;
    }
</style>
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <h5>Report</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="rep">
                    <tr>
                        <th>Fault Detected</th>
                        <th>Component Name</th>
                        <th>Fault</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in wire_fault_list %}
                        <tr class="dets">
                            <td>{{ i.fault_detected }}</td>
                            <td>{{ i.component_name }}</td>
                            <td>{{ i.fault }}</td>
                            <td>{{ i.description }}</td>
                        </tr>
                    {% endfor %}
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}