{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
{% load static %}
{% block content %}



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="{% static 'assets/js/pages/damageChart.js' %}"></script>
<script src="{% static 'assets/js/pages/demo.js' %}"></script>


<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}



<style>
    .card-block1 {
        margin-top: -240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* Adjust as needed to space between canvas and table */
    }


    .card-block1 .table-responsive {
        flex: 1 0 auto;
        /* Make canvas and table content flexible but not fill the entire space */
    }

    .flights:hover {
        color: black;


    }
</style>


<div class="row">
    <!-- [ Main Content ] start -->
    <div class="col-md-6 col-xl-4">
        <div class="card daily-sales">
            <div class="card-block">
                <h6 class="mb-4">Completed Repairs</h6>
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0"><i
                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                            2</h3>
                    </div>

                    <div class="col-3 text-right">

                    </div>
                </div>
                <div class="progress m-t-30" style="height: 7px;">
                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!--[ daily sales section ] end-->
    <!--[ Monthly  sales section ] starts-->
    <div class="col-md-6 col-xl-4">
        <div class="card Monthly-sales">
            <div class="card-block">
                <h6 class="mb-4">Pending Repairs</h6>
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>
                            9</h3>
                    </div>
                    <div class="col-3 text-right">

                    </div>
                </div>
                <div class="progress m-t-30" style="height: 7px;">
                    <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;"
                        aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <!--[ Monthly  sales section ] end-->
    <!--[ year  sales section ] starts-->
    <div class="col-md-12 col-xl-4">
        <div class="card yearly-sales">
            <div class="card-block">
                <h6 class="mb-4">Total Aircrafts</h6>
                <div class="row d-flex align-items-center">
                    <div class="col-9">
                        <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i
                                class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>
                            200</h3>
                    </div>
                    <div class="col-3 text-right">
                    </div>
                </div>
                <div class="m-t-30" style="height: 7px;">
                    <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card" style="min-height:400px;max-height:400px">
            <div class="card-header">
                <h5>Repaired Details</h5>
            </div>
            <div class="card-block1">
                <canvas id="project-scatter-chart" style="min-height:240px;max-height:240px"></canvas>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Flight Name</th>
                            <th scope="col">FIN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="flights">
                            <th scope="row">1</th>
                            <td>Indigo</td>
                            <td>354</td>

                        </tr>
                        <tr class="flights">
                            <th scope="row">2</th>
                            <td>Air Asia</td>
                            <td>897</td>

                        </tr>
                        <tr class="flights">
                            <th scope="row">3</th>
                            <td>Spice Jet</td>
                            <td>456</td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-xl-6">
        <div class="card" style="min-height:400px;max-height:400px">
            <div class="card-header">
                <h5>Damage Detected</h5>
            </div>
            <div class="card-block d-flex justify-content-center align-items-center">

                <canvas id="damageDetectedChart" width="400" height="300"></canvas>

            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Status</h5>
        <span class="d-block m-t-5">These flights are <code>fit</code> for flying </span>
    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>FIN</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <a href="#">
                        <tr style="color:black">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ task.task_name }}</td>
                            <td>{{ task.assigned_to }}</td>

                            <td>
                                <div class="form-group">
                                    <select name="task_status"
                                        onchange="updateTaskStatus('{{ task.id }}', this.value , '{{ csrf_token }}')"
                                        class="form-control-sm border rounded p-1 " style="background-color:#F4F7FA;"
                                        required="" id="id_task_status">
                                        <option value="{{ task.task_status }}"
                                            selected="{{ task.get_task_status_display }}">{{
                                            task.get_task_status_display }}</option>
                                        {% if task.task_status != 'REV' %}
                                        <option value="REV">Review</option>
                                        {% endif %}
                                        {% if task.task_status != 'INP' %}
                                        <option value="INP">In Progress</option>
                                        {% endif %}
                                        {% if task.task_status != 'TOD' %}
                                        <option value="TOD">TODO</option>
                                        {% endif %}
                                        {% if request.user.user_type != 'EM' and task.task_status != 'CMP' %}
                                        <option value="CMP">Completed</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </td>
                            <td>
                                <a href="{% url 'tasks:task_updates' task.id %}"
                                    class="label theme-bg text-white f-12">Tasks Updates</a>
                            </td>
                        </tr>
                    </a>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    const ctx = document.getElementById('project-scatter-chart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock javascripts %}